@model ProductsPurchaseOrder

@{
    ViewData["Title"] = "Add Products";
}

<h1>Add A Product into Inventory and generate Purchase Order </h1>
<h2>Product: @Model.Product.ProductName</h2>

@if (ViewData["Message"] != null && ViewData["Message"].ToString() != "")
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span> @*to help assistive technology*@
        </button>
        @ViewData["Message"]
    </div>
}

<div>
    <form method="post" asp-controller="Home" asp-action="Add">
        <input type="hidden" asp-route-id="@Model.Product.ProductID" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="AmountOrdered" class="control-label"></label>
            <input asp-for="AmountOrdered" class="form-control" />
            <span asp-validation-for="AmountOrdered" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back To Home</a>
</div>