@model InventoryItemSummary

@{
    ViewData["Title"] = $"Inventory Item Summary";
}

<h2>Product Summary</h2>


<table>
    <tr>
        <td style="white-space: pre-wrap;">@Model.GetSummary()</td>
    </tr>
</table>

<div style="padding-top: 50px;">
    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Back To Home</a>
</div>